@import "tailwindcss";

@font-face {
    font-family: "amerigo" ;
    src: url(../src/font/amerigo-bt.ttf);
}

@layer utilities{
    .header-btns{@apply px-6 py-2.5 text-center rounded-sm font-bold text-[12px] uppercase cursor-pointer tracking-widest;}
    .section-titles{@apply uppercase font-medium tracking-wider;}
    .feature-container{@apply flex gap-1 items-baseline}
    .in-panel-titles{
      font-family: "amerigo";
      @apply text-2xl text-black}
      .bg-change{
        @apply hover:bg-[#FAFAFA] p-[38px] cursor-pointer
      }
    #pro-title:hover{@apply text-black}

    #temp-title:hover{@apply text-black}
}
@layer base{
  body{@apply text-gray-600}
}
@theme{
     --font-amerigo:"amerigo";
}
#article-ul > li {
  @apply cursor-pointer hover:text-emerald-500 w-fit select-none;
}

li>p{
 @apply cursor-auto  text-gray-600 text-base font-normal pt-4
}