@import "tailwindcss";

@font-face {
    font-family: "amerigo" ;
    src: url(../src/font/amerigo-bt.ttf);
}

@layer utilities{
    .header-btns{@apply px-6 py-2.5 text-center rounded-sm font-bold text-[12px] uppercase cursor-pointer tracking-widest;}
    .section-titles{@apply uppercase font-medium tracking-wider;}
    .off{@apply text-gray-400}
    .feature-container{@apply flex gap-1 items-baseline}
    .in-panel-titles{
      font-family: "amerigo";
      @apply text-2xl text-black}
      .bg-change{
        @apply hover:bg-[#FAFAFA] py-11 pl-[37px] cursor-pointer
      }
      .tempItems:hover svg{@apply inline}
      .tempItems{@apply flex gap-4 justify-between py-4 pl-8 pr-2 cursor-pointer}
      .hidden-temp-menu{@apply h-123 absolute top-12 hidden opacity-0 group-hover:opacity-100 group-hover:block }
    #pro-title:hover{@apply text-black}
      #Workflow:hover svg{@apply inline}
      #Workflow:hover #Workflow-menu{@apply opacity-100}
    #temp-title:hover{@apply text-black}
    #item-bg:hover{@apply scale-105 transition-transform duration-200 ease-in-out}

    
}
@layer base{
  body{@apply text-[#4c4d5f]}
}
@theme{
     --color-prggreen:#00b289;
     --font-amerigo:"amerigo";
     --breakpoint-*: initial;
     --breakpoint-sm: 458px;
     --breakpoint-md: 766px;
     --breakpoint-lg: 990px;
     --breakpoint-xl: 1280px;
}
#article-ul > li {
  @apply cursor-pointer hover:text-prggreen w-fit select-none;
}

li>p{
 @apply cursor-auto  text-gray-600 text-base font-normal pt-4
}